@import url("main.css");

.title {
   font-weight: normal;
   }
   
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait){
/*    body {
    padding-top: 0px;
    padding-right: 24px;
    padding-left: 24px;
  }

.meta, .post, h2 {
   margin-right: 15px;
}
*/
.footer {
   font-size: 110%;
}
.site {
  max-width: 350px;
}
}

h1, h2, h3, h4, h5, h6 {
   font-size: 140%;
   font-weight: 600;
   }

.header a{
   font-size: 70%;
   font-weight: normal;
   }
   
a { font-weight: 600;}

.header {
   margin-top: -15px;
   }
