<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | paanini.me</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">Posts</a></h1>
          </div>

          {{ content }}

          <div class="footer">
            <div class="rss">
              <p>
                <a href="{{ source.url }}/atom.xml">RSS</a><br />
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/Paanini">Github</a>  |   
                <a href="https://twitter.com/chaibizkit">Twitter</a>  |  
                <a href="mailto:hello@paanini.me">Email
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
